.navbar{
    background-color: var(--secondary);
}
.navbar .searchContainer{
    width: 50%;
    height: 34px;
}
.navbar .category{
    background-color: var(--primary);
    padding: 12px 0px;
}
.navbar .category img{
    width: 16px;
}
 .iconsConatiner{
    min-width: 160px;
}
.iconsConatiner img{
    width: 16px;
}