.searchBar {
  height: 38px;
  border-radius: 5px;
  padding:0px 10px;
  width: 70%;
  min-width: 95px;
  max-width: 600px;
  background-color: #FFFFFF;
}
/* @media screen and (max-width: 330px) {
  .searchBar{
    height: 30px;
  }
} */
.searchBar input {
  width: 100%;
  outline-style: none;
  border-style: none;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}
.searchBar input::placeholder{
  color: var(--placeholder-text);
  font-size: var(--fs-2Xsmall);
}
.searchBar svg{
  color: var(--primary);
  padding: 0 10px;
  border-left: 1px solid;
}