.navbarContainer{
    background-color: var(--secondary);
}

.category{
    background-color: var(--primary);
}
.navbarContainer .icons{
    width: 160px;
}
.navbarContainer .icons img{
    width: 16px;
}
.navbarContainer .searchContainer{
    width: 40%;
    height: 30px;
}